$container-width: 400px;
$container-width-larger-than-mobile: $container-width;
$container-width-larger-than-phablet: $container-width;

$global-radius: 4px !default;

$primary-color: $cerulean !default;
$link-color: $cerulean !default;
$font-family: 'Roboto', sans-serif;

input {
  &[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &[type="date"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
  }
}
